.pricing-section {
    background-color: $primary;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
        
    }
    .pricing-section-g {
        background-color: $primary;
    }